.container{
    flex-direction: column;
    justify-content: center;
}
body{
    padding: 20px 20px;
}
.right-side{
    padding: 36px 25px 24px;
}
.left-side{
    padding-right: 0px;
}
.languages-and-interests-row{
    width: 100%;
}
.languages, .interests{
    width: 100%;
    margin: 0 auto;
}